<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android">

    <uses-permission android:name="android.permission.VIBRATE" />
    <uses-feature android:name="android.hardware.vibrator" android:required="false" />

    <application
        android:allowBackup="true"
        android:icon="@mipmap/ic_launcher"
        android:label="Haptic MIDI"
        android:theme="@android:style/Theme.Material.NoActionBar">
        <activity
            android:name=".MainActivity"
            android:exported="true"
            android:launchMode="singleTask">
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />
                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
            <!-- Открыть аудио/миди из файлового менеджера -->
            <intent-filter>
                <action android:name="android.intent.action.VIEW" />
                <category android:name="android.intent.category.DEFAULT" />
                <data android:scheme="content" android:mimeType="audio/*" />
                <data android:scheme="file" android:mimeType="audio/*" />
            </intent-filter>
            <intent-filter>
                <action android:name="android.intent.action.VIEW" />
                <category android:name="android.intent.category.DEFAULT" />
                <data android:scheme="content" android:host="*" android:mimeType="*/*"
                    android:pathPattern=".*\\.mid" />
                <data android:scheme="content" android:host="*" android:mimeType="*/*"
                    android:pathPattern=".*\\.midi" />
                <data android:scheme="file" android:host="*" android:mimeType="*/*"
                    android:pathPattern=".*\\.mid" />
            </intent-filter>
        </activity>
    </application>
</manifest>
